@import "tailwindcss";

/* In your global CSS file */
@media print {
  body * {
    visibility: hidden;
  }
  .print-content,
  .print-content * {
    visibility: visible;
  }
  .print-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .no-print {
    display: none !important;
  }
  table {
    width: 100%;
    font-size: 11px;
  }
  th,
  td {
    padding: 4px 8px;
  }
}

@media print {
  body {
    visibility: visible !important;
    position: static !important;
  }
}
